*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    font-family: Roboto, sans-serif;
    background: #353535;
}

.container{
    width: 280px;
    height: 500px;
    margin: 60px auto;
    margin-left: 1000px;
}

.card{
    
    
}

.card-head{
    position: relative;
    height: 252px;
background: #FF416C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.card-logo{
    width: 55px;
    margin: 20px;
}

.product-img{


